{{> navbar }}
<div id="content">
        <!-- financial information nav -->
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="/companyinfo">Company Information Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/financialanalysis">General Financial Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/taxcredit">SR&amp;ED Tax Credit Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/taxexpense">R&amp;D Tax Expense Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product">Product &amp; Tech vs R&amp;D Field</a>
                </li>
            </ul>
        </div>
        <br>
        <!-- Company info content -->



        <form action="/post_companyinfo" method="post">
            <h5>Company Basic Information</h5>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="companyName">Company Name</label>
                    <input type="text" class="form-control" name="companyName" id="companyName" value="{{content.basicInfo.companyName}}">
                </div>
                <div class="form-group col-md-3">
                    <label for="companyLocation">Company Location</label>
                    <input type="text" class="form-control" name="companyLocation" id="companyLocation" value="{{content.basicInfo.companyLocation}}">
                    </div>
                <div class="form-group col-md-3">
                    <label for="companyType">Company Type</label>
                    <input type="text" class="form-control" name="companyType" id="companyType" value="{{content.basicInfo.companyType}}">
                </div>
                <div class="form-group col-md-3">
                        <label for="fiscalYear">Fiscal Year</label>
                        <input type="number" class="form-control" name="fiscalYear" id="fiscalYear" value="{{content.basicInfo.fiscalYear}}">
                </div>
            </div>
            <!-- summary area disabled in new version
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="companySummary">Commany Summary</label>
                    <textarea class="form-control" id="companySummary">Summary here......</textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            -->

            <hr>

            <h5>Income Statements</h5>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p></p>
                </div>
                <div class="form-group col-md-3">
                    <p class="text-center">2017</p>
                </div>
                <div class="form-group col-md-3">
                    <p class="text-center">2016</p>
                </div>
                <div class="form-group col-md-3">
                    <p class="text-center">2015</p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Sales</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="sales2017" id="sales2017" value="{{content.incomeStatement.2017.ins_sales}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="sales2016" id="sales2016" value="{{content.incomeStatement.2016.ins_sales}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="sales2015" id="sales2015" value="{{content.incomeStatement.2015.ins_sales}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Working Capital</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name ="workingCapital2017" id="workingCapital2017" value="{{content.incomeStatement.2017.ins_workingCapital}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name ="workingCapital2016" id="workingCapital2016" value="{{content.incomeStatement.2016.ins_workingCapital}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name ="workingCapital2015" id="workingCapital2015" value="{{content.incomeStatement.2015.ins_workingCapital}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Profit/Loss</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control"  name ="profit2017"  id="profit2017" value="{{content.incomeStatement.2017.ins_profitLoss}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name ="profit2016" id="profit2016" value="{{content.incomeStatement.2016.ins_profitLoss}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name ="profit2015" id="profit2015" value="{{content.incomeStatement.2015.ins_profitLoss}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Operating Profit</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name ="operatingProfit2017" id="operatingProfit2017" value="{{content.incomeStatement.2017.ins_operatingProfit}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name ="operatingProfit2016" id="operatingProfit2016" value="{{content.incomeStatement.2016.ins_operatingProfit}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name ="operatingProfit2015" id="operatingProfit2015" value="{{content.incomeStatement.2015.ins_operatingProfit}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Income Tax</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="incomeTax2017"  id="incomeTax2017" value="{{content.incomeStatement.2017.ins_incomeTax}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="incomeTax2016" id="incomeTax2016" value="{{content.incomeStatement.2016.ins_incomeTax}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="incomeTax2015" id="incomeTax2015" value="{{content.incomeStatement.2015.ins_incomeTax}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">COGS</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="cogs2017" id="cogs2017" value="{{content.incomeStatement.2017.ins_COGS}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="cogs2016" id="cogs2016" value="{{content.incomeStatement.2016.ins_COGS}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="cogs2015" id="cogs2015" value="{{content.incomeStatement.2015.ins_COGS}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">R&amp;D</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="rd2017" id="rd2017" value="{{content.incomeStatement.2017.ins_rd}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="rd2016" id="rd2016" value="{{content.incomeStatement.2016.ins_rd}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="rd2015" id="rd2015" value="{{content.incomeStatement.2015.ins_rd}}">
                </div>
            </div>

            <hr>

            <h5>Balance Sheets</h5>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p></p>
                </div>
                <div class="form-group col-md-3">
                    <p class="text-center">2017</p>
                </div>
                <div class="form-group col-md-3">
                    <p class="text-center">2016</p>
                </div>
                <div class="form-group col-md-3">
                    <p class="text-center">2015</p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">PPE (Property, Plant and Equipment)</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="ppe2017" id="ppe2017" value="{{content.balancesheet.2017.bas_propertyPlantEquip}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="ppe2016" id="ppe2016" value="{{content.balancesheet.2016.bas_propertyPlantEquip}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="ppe2015" id="ppe2015" value="{{content.balancesheet.2015.bas_propertyPlantEquip}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Construction in Process</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="construction2017" id="construction2017" value="{{content.balancesheet.2017.bas_constructInProgress}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="construction2016" id="construction2016" value="{{content.balancesheet.2016.bas_constructInProgress}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="construction2015" id="construction2015" value="{{content.balancesheet.2015.bas_constructInProgress}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Computer Software Equipment</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="cse2017" id="cse2017" value="{{content.balancesheet.2017.bas_computerSoftwareEquip}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="cse2016" id="cse2016" value="{{content.balancesheet.2016.bas_computerSoftwareEquip}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="cse2015" id="cse2015" value="{{content.balancesheet.2015.bas_computerSoftwareEquip}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Other PPE</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name ="otherPpe2017" id="otherPpe2017" value="{{content.balancesheet.2017.bas_otherPPE}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name ="otherPpe2016" id="otherPpe2016" value="{{content.balancesheet.2016.bas_otherPPE}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name ="otherPpe2015" id="OtherPpe2015" value="{{content.balancesheet.2015.bas_otherPPE}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Accum Dep</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="accumDep2017" id="accumDep2017" value="{{content.balancesheet.2017.bas_accummulatedDepreciation}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="accumDep2016" id="accumDep2016" value="{{content.balancesheet.2016.bas_accummulatedDepreciation}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="accumDep2015" id="accumDep2015" value="{{content.balancesheet.2015.bas_accummulatedDepreciation}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Intangible Assets</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="intangibleAssets2017" id="intangibleAssets2017" value="{{content.balancesheet.2017.bas_intangibleAsset}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="intangibleAssets2016" id="intangibleAssets2016" value="{{content.balancesheet.2016.bas_intangibleAsset}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="intangibleAssets2015" id="intangibleAssets2015" value="{{content.balancesheet.2015.bas_intangibleAsset}}">
                </div>
            </div>

            <hr>

            <h5>Cash Flow Statements</h5>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p></p>
                </div>
                <div class="form-group col-md-3">
                    <p class="text-center">2017</p>
                </div>
                <div class="form-group col-md-3">
                    <p class="text-center">2016</p>
                </div>
                <div class="form-group col-md-3">
                    <p class="text-center">2015</p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Deferred Tax</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="deferredTax2017" id="deferredTax2017" value="{{content.cashflowStatement.2017.caf_deferredTax}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="deferredTax2016" id="deferredTax2016" value="{{content.cashflowStatement.2016.caf_deferredTax}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="deferredTax2015" id="deferredTax2015" value="{{content.cashflowStatement.2015.caf_deferredTax}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Investment Tax Credits</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="investmentTaxCredits2017" id="investmentTaxCredits2017" value="{{content.cashflowStatement.2017.caf_investmentTaxCredit}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="investmentTaxCredits2016" id="investmentTaxCredits2016" value="{{content.cashflowStatement.2016.caf_investmentTaxCredit}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="investmentTaxCredits2015" id="investmentTaxCredits2015" value="{{content.cashflowStatement.2015.caf_investmentTaxCredit}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <p class="text-center">Credit Expenditure</p>
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="creditExpenditure2017" id="creditExpenditure2017" value="{{content.cashflowStatement.2017.caf_capitalExpenditure}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="creditExpenditure2016" id="creditExpenditure2016" value="{{content.cashflowStatement.2016.caf_capitalExpenditure}}">
                </div>
                <div class="form-group col-md-3">
                    <input type="number" class="form-control" name="creditExpenditure2015" id="creditExpenditure2015" value="{{content.cashflowStatement.2015.caf_capitalExpenditure}}">
                </div>
            </div>

            <hr>

            <button type="submit" class="btn btn-primary">Update</button>
            <a href="/assessment" role="button" class="btn btn-success">Start Over</a>
        </form>
        
        <!-- Pagination -->
        <div class="row">
            <div class="col">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="/companyinfo">1</a></li>
                        <li class="page-item"><a class="page-link" href="/financialanalysis">2</a></li>
                        <li class="page-item"><a class="page-link" href="/taxcredit">3</a></li>
                        <li class="page-item"><a class="page-link" href="/taxexpense">4</a></li>
                        <li class="page-item"><a class="page-link" href="/product">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="/financialanalysis">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>    
        </div>
</div>

    
