{{> navbar }}
<div id="content">
        <!-- financial information nav -->
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/companyinfo">Company Information Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/financialanalysis">Financial Analysis Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/taxcredit">SR&amp;ED Tax Credit Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/taxexpense">R&amp;D Tax Expense Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product">Product &amp; Tech vs R&amp;D Field</a>
                </li>
            </ul>
        </div> 

        <br>
        
        <form action="/post_taxexpense" method="post">
            <h5>Operating Expense</h5>
            <div class="form-row">
                <div class="form-group col-sm-3">
                    <p class="text-center" ></p>
                </div>
                <div class="form-group col-sm-2">
                    <p class="text-center">2017</p>
                </div>
                <div class="form-group col-sm-2">
                    <p class="text-center">2016</p>
                </div>
                <div class="form-group col-sm-2">
                    <p class="text-center">2015</p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-3">
                    <p class="text-center" >Sales</p>
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name ="sales2017" id="sales2017" value="{{content.OperatingExpense.sales2017}}">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name ="sales2016" id="sales2016" value="{{content.OperatingExpense.sales2016}}">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name ="sales2015" id="sales2015" value="{{content.OperatingExpense.sales2015}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-3">
                    <p class="text-center" >COGS</p>
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name ="cogs2017" id="cogs2017" value="{{content.OperatingExpense.cogs2017}}">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name ="cogs2016" id="cogs2016" value="{{content.OperatingExpense.cogs2016}}">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name ="cogs2015" id="cogs2015" value="{{content.OperatingExpense.cogs2015}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-3">
                    <p class="text-center" >Depreciation/Amoritization</p>
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name ="depAmo2017" id="depAmo2017" value="{{content.OperatingExpense.depAmo2017}}">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name ="depAmo2016" id="depAmo2016" value="{{content.OperatingExpense.depAmo2016}}">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name ="depAmo2015" id="depAmo2015" value="{{content.OperatingExpense.depAmo2015}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-3">
                    <p class="text-center" >SG&amp;A Expense</p>
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name ="sga2017" id="sga2017" value="{{content.OperatingExpense.sga2017}}">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name ="sga2016" id="sga2016" value="{{content.OperatingExpense.sga2016}}">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name ="sga2015" id="sga2015" value="{{content.OperatingExpense.sga2015}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-3">
                    <p class="text-center" >Other SG&amp;A Expense</p>
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name="osga2017" id="osga2017" value="{{content.OperatingExpense.osga2017}}">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name="osga2016" id="osga2016" value="{{content.OperatingExpense.osga2016}}">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name="osga2015" id="osga2015" value="{{content.OperatingExpense.osga2015}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-3">
                    <p class="text-center" >EBIT</p>
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name ="ebit2017" id="ebit2017" value="{{content.OperatingExpense.ebit2017}}">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name ="ebit2016" id="ebit2016" value="{{content.OperatingExpense.ebit2016}}">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name ="ebit2015" id="ebit2015" value="{{content.OperatingExpense.ebit2015}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-3">
                    <p class="text-center" >Income Tax</p>
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name="incomeTax2017" id="incomeTax2017" value="{{content.OperatingExpense.incomeTax2017}}">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name="incomeTax2016" id="incomeTax2016" value="{{content.OperatingExpense.incomeTax2016}}">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name="incomeTax2015" id="incomeTax2015" value="{{content.OperatingExpense.incomeTax2015}}">
                </div>
            </div>

            <hr>

            <h5>SR&amp;ED Tax Credit</h5>
            <div class="form-row">
                <div class="form-group col-sm-3">
                    <p class="text-center" ></p>
                </div>
                <div class="form-group col-sm-2">
                    <p class="text-center">2017</p>
                </div>
                <div class="form-group col-sm-2">
                    <p class="text-center">2016</p>
                </div>
                <div class="form-group col-sm-2">
                    <p class="text-center">2015</p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-3">
                    <p class="text-center" >Salary &amp; Wages</p>
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name="salary2017" id="salary2017" value="{{content.SREDTaxCredit.salary2017}}">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name="salary2016" id="salary2016" value="{{content.SREDTaxCredit.salary2016}}">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name="salary2015" id="salary2015" value="{{content.SREDTaxCredit.salary2015}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-3">
                    <p class="text-center" >Cost of materials</p>
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name="cost2017" id="cost2017" value="{{content.SREDTaxCredit.cost2017}}">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name="cost2016" id="cost2016" value="{{content.SREDTaxCredit.cost2016}}">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name="cost2015" id="cost2015" value="{{content.SREDTaxCredit.cost2015}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-3">
                    <p class="text-center" >Contract Expense</p>
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name="con2017" id="con2017" value="{{content.SREDTaxCredit.con2017}}">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name="con2016" id="con2016" value="{{content.SREDTaxCredit.con2016}}">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name="con2015" id="con2015" value="{{content.SREDTaxCredit.con2015}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-3">
                    <p class="text-center" >Lease Expenditure</p>
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name ="lea2017"  id="lea2017" value="{{content.SREDTaxCredit.lea2017}}">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name ="lea2016" id="lea2016" value="{{content.SREDTaxCredit.lea2016}}">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name ="lea2015" id="lea2015" value="{{content.SREDTaxCredit.lea2015}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-3">
                    <p class="text-center" >Overhead</p>
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name="over2017" id="over2017" value="{{content.SREDTaxCredit.over2017}}">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name="over2016" id="over2016" value="{{content.SREDTaxCredit.over2016}}">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name="over2015" id="over2015" value="{{content.SREDTaxCredit.over2015}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-3">
                    <p class="text-center" >Capital Expenditure</p>
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name="cap2017" id="cap2017" value="{{content.SREDTaxCredit.cap2017}}">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name="cap2016" id="cap2016" value="{{content.SREDTaxCredit.cap2016}}">
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name="cap2015" id="cap2015" value="{{content.SREDTaxCredit.cap2015}}">
                </div>
            </div>

            <hr>
            <!-- NOTE: no related database to store the input for 2018 r&d expense -->
            <h5>2018 R&amp;D Expense</h5>
            <br>
            <div class="form-row">
              <div class="form-group col-sm-3">
                    <p class="text-center" >Salary &amp; Wages</p>
                </div>
              <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name="salarywages" id="salarywages" value="{{content.2018RDExpense.salarywages}}">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-sm-3">
                    <p class="text-center" >Contract Expense</p>
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name="contractexpense" id="contractexpense" value="{{content.2018RDExpense.contractexpense}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-3">
                    <p class="text-center" >Capital Expenditure</p>
                </div>
                <div class="form-group col-sm-2">
                    <input type="text" class="form-control" name="capitalexpendture" id="capitalexpendture" value="{{content.2018RDExpense.capitalexpendture}}">
                </div>
            </div>

            <hr>

            <button type="submit" class="btn btn-primary">Update</button>
            <a href="/assessment" role="button" class="btn btn-success">Start Over</a>
        </form>
        
        <!-- Pagination -->
        <div class="row">
            <div class="col">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="/taxcredit">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="/companyinfo">1</a></li>
                        <li class="page-item"><a class="page-link" href="/financialanalysis">2</a></li>
                        <li class="page-item"><a class="page-link" href="/taxcredit">3</a></li>
                        <li class="page-item active"><a class="page-link" href="/taxpense">4</a></li>
                        <li class="page-item"><a class="page-link" href="/product">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="/product">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>    
        </div>
</div>
